.movieInfo {
    text-align: center;
    font-size: 20px;
    display: block;
    position: relative;
}

.btn {
    margin-bottom: 10px;
}

hr {
    width: 200px;
    height: 5px;
    border-color: inherit;
}
